@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using DotNetNuke.Entities.Users
@using NBrightDNN
@using Nevoweb.DNN.NBrightBuy.Components

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")

@{
    var info = (NBrightInfo)Model.List.First();
    var prdData = new ProductData(info.ItemID, info.PortalId, info.Lang);
    var prdProps = prdData.GetProperties();
}

@foreach (var nbiCat in prdProps)
{
    <tr>
        <td style="white-space:nowrap" title="Reference code: @nbiCat.grouptyperef">@nbiCat.groupname</td>
        <td title="Breadcrumb: @nbiCat.breadcrumb">@nbiCat.categoryname</td>
        <td>
            <a class="removegroupcategory" itemid="@info.ItemID" categoryid="@nbiCat.categoryid">@ResourceKey("General.cmdRemoveIcon")</a><span class="hidden">@nbiCat.categoryid</span>
        </td>
        <td>
            @if (prdProps.IndexOf(nbiCat) < prdProps.Count - 1)
            {
                <a class="movedngroupcategory" itemid="@info.ItemID" categoryid="@nbiCat.categoryid">@ResourceKey("General.cmdMoveDownIcon")</a><span class="hidden">@nbiCat.categoryid</span>
            }
        </td>
        <td>
            @if (prdProps.IndexOf(nbiCat) > 0)
            {
                <a class="moveupgroupcategory" itemid="@info.ItemID" categoryid="@nbiCat.categoryid">@ResourceKey("General.cmdMoveUpIcon")</a>
                <span class="hidden">@nbiCat.categoryid</span>
            }
        </td>
    </tr>
}

<script>
    $(document).ready(function () {
        $('#p1_razortemplate').val('Admin_ProductDetail.cshtml');
        $('#p1_selecteditemid').val('@info.ItemID'); // assign the sleected itemid, so the server knows what item is being edited
    });
</script>
