@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using DotNetNuke.Entities.Users
@using NBrightDNN
@using Nevoweb.DNN.NBrightBuy.Components

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")

@{
    var info = (NBrightInfo)Model.List.First();
    var prdData = new ProductData(info.ItemID, info.PortalId, info.Lang);
}

@{
    var lp3 = 1;
}
@foreach (var nbiDoc in prdData.Docs)
{

    <li class="docitem form-group">
        <a class="sortelementUp"><i class="fa fa-caret-up fa-2x fa-fw"></i></a>
        <a class="sortelementDown"><i class="fa fa-caret-down fa-2x fa-fw"></i></a>

        <input id="fileext" type="hidden" update="save" value="@nbiDoc.GetXmlProperty(" genxml/hidden/fileext")" />
        <input id="filepath" type="hidden" update="save" value="@nbiDoc.GetXmlProperty(" genxml/hidden/filepath")" />

        <div class="col-sm-12 form-horizontal">
            <div class="row">
                <div class="col-xs-6"><label class="control-label">@ResourceKey("General.FileName")</label>@TextBox(nbiDoc, "genxml/textbox/txtfilename_" + lp3, "class='form-control input-sm' maxlength='250' ", "")</div>
                <div class="col-xs-6"><label class="control-label">@ResourceKey("General.Title")</label>@LangFlag(info.Lang)@TextBox(nbiDoc, "genxml/lang/genxml/textbox/txttitle_" + lp3, "class='form-control input-sm' maxlength='250' ", "")</div>
            </div>
            <div class="row">
                <div class="col-xs-10"><label class="control-label">@ResourceKey("General.Description")</label>@LangFlag(info.Lang)@TextBox(nbiDoc, "genxml/lang/genxml/textbox/txtdocdesc_" + lp3, "class='form-control input-sm' maxlength='250' ", "")</div>
                <div class="col-sm-2"><label class="control-label">&nbsp;</label><br><a class="removedoc btn btn-danger">@ResourceKey("General.cmdRemoveButton")</a></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2 nowrap">@CheckBox(nbiDoc, "genxml/checkbox/chkishidden", "")<label class="control-label">@ResourceKey("General.Hidden")</label></div>
                <div class="col-sm-2 nowrap">@CheckBox(nbiDoc, "genxml/checkbox/chkpurchase", "")<label class="control-label">@ResourceKey("General.Purchase")</label></div>
            </div>
        </div>
    </li>
    lp3 += 1;
}