@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using DotNetNuke.Entities.Users
@using NBrightDNN
@using Nevoweb.DNN.NBrightBuy.Components

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")

@if (Model.List.Count > 0)
{

    <ul id="selectlistwrapper" class="productlist">

        @foreach (NBrightInfo nbiPrd in Model.List)
        {
            var adminname = nbiRel.GetXmlProperty("genxml/lang/genxml/hidden/adminname");
            if (adminname == "")
            {
                adminname = nbiRel.GetXmlProperty("genxml/lang/genxml/textbox/txtproductname");
            }

            <li class="productid@(nbiPrd.ItemID)">

                <input id="parentitemid" type="hidden" value="@nbiPrd.ItemID"/>
                <input id="xrefitemid" type="hidden" value="@Model.Settings["itemid"]"/>

                <ul class="productlistitem">

                    @if (nbiPrd.GetXmlProperty("genxml/imgs/genxml[1]/hidden/imageurl") != "")
                    {
                        <li class="image name" data-toggle="tooltip" data-original-title="@adminname"><img src="/DesktopModules/NBright/NBrightBuy/NBrightThumb.ashx?w=100&h=80&src=@nbiPrd.GetXmlProperty("genxml/imgs/genxml[1]/hidden/imageurl")"/></li>
                    }
                    else
                    {
                        <li class="noimage name" data-toggle="tooltip" data-original-title="@adminname"><i class="fa fa-picture-o fa-4x"></i></li>
                    }

                    <li class="title">@adminname</li>
                    <li class="removeitem"><a class="removeproduct" itemid="@nbiPrd.ItemID"><i title="Remove" class="fa fa-minus-square fa-fw fa-lg"></i></a></li>
                </ul>
            </li>

        }

    </ul>
}
