@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightDNN.NBrightRazor>
@using DotNetNuke.Entities.Users
@using NBrightDNN

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")


<!-- fields required to send required ajax cart to server -->
<span id="pluginsadminsearch">
    <input id="razortemplate" type="hidden" value="" />
    <input id="themefolder" type="hidden" value="config" />
    <input id="uilang" type="hidden" value="@Model.Lang" />
    <input id="selecteditemid" type="hidden" value="" />
    <input id="movepluginsid" type="hidden" value="" />
    <input id="movetopluginsid" type="hidden" value="" />
</span>


<div id="loader" class="processing" style="display:none;">@ResourceKey("General.ProcessingDiv")</div>

<div id="pageactionssource">
    <!-- Page actions are moved into header bar - also exist at page bottom-->
    <div class="col-xs-9 col-sm-9">
        <a href="javascript:void(0)" class="show-sidebar">
            <i class="fa fa-bars"></i>
        </a>
        <div class="actionbuttonwrapper">
            <a id="pluginsAdmin_cmdAddNew" class="btn btn-primary " href="javascript:void(0)">@ResourceKey("General.cmdAddButton")</a>
            <a id="pluginsAdmin_cmdSave" style="display: none;" class="btn btn-primary " href="javascript:void(0)">@ResourceKey("General.cmdSaveButton")</a>
            <a id="pluginsAdmin_cmdDelete" style="display: none;" class="btn btn-danger " href="javascript:void(0)">@ResourceKey("General.cmdReset")</a>
            <a id="pluginsAdmin_cmdReturn" style="display: none;" class="btn btn-default " href="javascript:void(0)">@ResourceKey("General.cmdReturnButton")</a>
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 top-panel-right">
    </div>
</div>

<div id="datadisplay"></div>

