@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using DotNetNuke.Entities.Users
@using NBrightDNN
@using Nevoweb.DNN.NBrightBuy.Components

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")

@{
    var info = (NBrightInfo)Model.List.First();
    var prdData = new ProductData(info.ItemID, info.PortalId, info.Lang);
}

@foreach (var nbiRel in prdData.GetRelatedProducts())
{

    var adminname = nbiRel.GetXmlProperty("genxml/lang/genxml/hidden/adminname");
    if (adminname == "")
    {
        adminname = nbiRel.GetXmlProperty("genxml/lang/genxml/textbox/txtproductname");
    }

    <li>
        <ul class="relatedlistitem">
            @if (nbiRel.GetXmlProperty("genxml/imgs/genxml[1]/hidden/imageurl") != "")
            {
                <li class="image name" data-toggle="tooltip" data-original-title="@adminname"><img src="/DesktopModules/NBright/NBrightBuy/NBrightThumb.ashx?w=100&h=0&src=@nbiRel.GetXmlProperty("genxml/imgs/genxml[1]/hidden/imageurl")" /></li>
            }
            else
            {
                <li class="noimage name" data-toggle="tooltip" data-original-title="@adminname"><i class="fa fa-picture-o fa-5x"></i></li>
            }


            <a class="product_admin_cmdEdit" itemid="@nbiRel.ItemID" href="javascript:void(0)">
            <li class="title name">
                @adminname
            </li>
            </a>
            <li class="removeitem"><a title="Remove" class="removerelated" productid="@nbiRel.ItemID" itemid="@info.ItemID"><i class="fa fa-minus-square"></i></a></li>
        </ul>
    </li>

}

<script>

    $(document).ready(function () {


        $('.product_admin_cmdEdit').unbind('click');
        $('.product_admin_cmdEdit').click(function () {
            $('.processing').show();
            $('#p1_razortemplate').val('Admin_ProductDetail.cshtml');
            $('#p1_selecteditemid').val($(this).attr("itemid")); // assign the sleected itemid, so the server knows what item is being edited
            nbxget('product_admin_getdetail', '#selectparams_Product_Admin', '#datadisplay'); // do ajax call to get edit form
        });
        $('.processing').hide();

        $('#p1_razortemplate').val('Admin_ProductDetail.cshtml');
        $('#p1_selecteditemid').val('@info.ItemID'); // assign the sleected itemid, so the server knows what item is being edited

    });

</script>
