@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using System.Web.UI.HtmlControls
@using NBrightDNN

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightBuy/App_LocalResources/")

@{
    var info = (NBrightInfo)Model.List.First();
}
<script type="text/javascript">

    $(document).ready(function() {

        $(document).ready(function () {
            nbxget('renderthemefolders', '#themedata', '#themefolders');
        });

    });

</script>

<div id="nbrightbuysettings">

    <div>
        Ref: @info.GetXmlProperty("genxml/hidden/modref")
    </div>

    <h2 class="dnnFormSectionHead"><a href="" class="dnnSectionExpanded">@ResourceKey("ProductViewSettings.lblbasicsettings")</a></h2>
    <fieldset>
        <div id="themedata">
            <input id="lang" type="hidden" value="@Model.GetUrlParam("language")" /> <!-- get the current culture and pass to the ajax server side, so it knows what language is -->
            <input id="uilang" type="hidden" value="@Model.GetUrlParam("language")" />
            <input id="editlang" type="hidden" value="" /> <!-- culture code being edited -->
            <input id="moduleid" type="hidden" value="@info.ModuleId" />
            <input id="tabid" type="hidden" value="@Model.GetUrlParam("tabid")" />
            <input id="index" type="hidden" value="" />
            <input id="themefolder" type="hidden" value="@info.GetXmlProperty("genxml/dropdownlist/themefolder")" />
            <input id="providercontrolpath" update="save" type="hidden" value="NBrightBuy" />

            <div class="dnnFormItem">
                <div id="themefolders">
                    @DnnLabel("lblthemefolder", "Settings.Theme")
                    @FolderSelectList(info, "genxml/dropdownlist/themefolder", "/DesktopModules/NBright/NBrightBuy/Themes", " class='form-control' ")
                </div>
            </div>
            <div class="dnnFormItem">
                <div>
                    @DnnLabel("lbltemplate", "Settings.razortemplate")
                    @NBrightTextBox(info, "genxml/textbox/razortemplate", "", "CategoryMenu.cshtml")
                </div>
            </div>
            <div class="dnnFormItem">
                <div>
                    @DnnLabel("lblparentcat", "Settings.parentcategory")
                    @CategoryDropDownList(info, "genxml/dropdownlist/parentcatid")
                </div>
            </div>
            <div class="dnnFormItem">
                <div>
                    @DnnLabel("lbllisttab", "Settings.productlisttab")
                    @TabSelectListOnTabId(info, "genxml/dropdownlist/productlisttab")
                </div>
            </div>
            <div class="dnnFormItem">
                <div>
                    @DnnLabel("lblactivateajax", "Settings.activateajax")
                    @CheckBox(info, "genxml/checkbox/activateajax", "")
                </div>
            </div>
        </div>

        <div id="settingsdata"></div>

    </fieldset>
    
</div>
