@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using System.Web.UI.HtmlControls
@using NBrightDNN

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightBuy/App_LocalResources/")

@{
    var info = (NBrightInfo)Model.List.First();
}

<div id="nbrightbuysettings">

    <div>
        Ref: @info.GetXmlProperty("genxml/hidden/modref")
    </div>

    <h2 class="dnnFormSectionHead"><a href="" class="dnnSectionExpanded">@ResourceKey("ProductViewSettings.lblbasicsettings")</a></h2>
    <fieldset>
        <div id="themedata">
            <input id="lang" type="hidden" value="@Model.GetUrlParam("language")" /> <!-- get the current culture and pass to the ajax server side, so it knows what language is -->
            <input id="editlang" type="hidden" value="" /> <!-- culture code being edited -->
            <input id="moduleid" type="hidden" value="@info.ModuleId" />
            <input id="tabid" type="hidden" value="@Model.GetUrlParam("tabid")" />
            <input id="index" type="hidden" value="" />
            <input id="razortemplate" type="hidden" value="productviewsettings.cshtml" />
            <div class="dnnFormItem">
                <div>
                    @DnnLabel("lblthemefolder", "Settings.Theme")
                    @FolderSelectList(info, "genxml/dropdownlist/themefolder", "/DesktopModules/NBright/NBrightBuy/Themes", " class='form-control' ")
                </div>

                <div class="dnnFormItem">
                    @DnnLabel("lblpagesize", "Settings.pagesize")
                    @TextBox(info, "genxml/textbox/pagesize", "width='300'", "75")
                </div>

            </div>
        </div>

        <div id="settingsdata"></div>

    </fieldset>
    

    <h2 class="dnnFormSectionHead"><a href="">@ResourceKey("ProductViewSettings.lbladvancedsettings")</a></h2>
    <fieldset>
        <div class="dnnFormItem">
            @DnnLabel("lbldisplaytype", "ProductViewSettings.displaytype")@RadioButtonList(info, "genxml/radiobuttonlist/displaytype","0,1,2","Normal,Search,Selected list","0")
        </div>
        <div class="dnnFormItem">
            @DnnLabel("lbllistbody", "ProductViewSettings.lbllistbody")@TextBox(info, "genxml/textbox/txtdisplaybody", "width='300'", "list.cshtml")
        </div>
        <div class="dnnFormItem">
            @DnnLabel("lbldetailbody", "ProductViewSettings.lbldetailbody")@TextBox(info, "genxml/textbox/txtdisplayentrybody", "width='300'", "detail.cshtml")
        </div>
        <div class="dnnFormItem">
            @DnnLabel("lbldefaultcatid", "ProductViewSettings.lbldefaultcatid")
            @CategoryDropDownList(info, "genxml/dropdownlist/defaultcatid", "width='300'", true, 20, true, false, 0, "", ".")
        </div>
        <div class="dnnFormItem">
            @DnnLabel("lbldefaultproperty", "ProductViewSettings.lbldefaultproperty")
            @PropertyDropDownList(info, "genxml/dropdownlist/defaultpropertyid", "width='300'", true, true, false, 0, "", ".")
        </div>
        <div class="dnnFormItem staticlist">
            @DnnLabel("lblstaticlist", "ProductViewSettings.lblstaticlist")@CheckBox(info, "genxml/checkbox/staticlist", "", " class='dnnCheckbox' ") @CheckBox(info, "genxml/checkbox/caturlfilter", "ResourceKey:ProductViewSettings.caturlfilter", " class='dnnCheckbox' ")
        </div>
        <div class="dnnFormItem">
            @DnnLabel("lbllistonly", "ProductViewSettings.lbllistonly")@CheckBox(info, "genxml/checkbox/listonly", "", " class='dnnCheckbox' ") 
        </div>
        <div class="dnnFormItem">
            @DnnLabel("lblcascaderesults", "ProductViewSettings.lblcascaderesults")@CheckBox(info, "genxml/checkbox/chkcascaderesults", "", " class='dnnCheckbox' ", true)
        </div>
        <div class="dnnFormItem">
            @DnnLabel("lbldetailtab", "ProductViewSettings.lbldetailtab")@TabSelectListOnTabId(info, "genxml/dropdownlist/ddldetailtabid", "", true) @info.GetXmlProperty("genxml/dropdownlist/ddldetailtabid")
        </div>
        <div class="dnnFormItem detailmoduleref">
            @DnnLabel("lbldetailmoduleref", "ProductViewSettings.lbldetailmoduleref")@TextBox(info, "genxml/textbox/detailmodulekey", "width='300'")
        </div>
        <div class="dnnFormItem">
            @DnnLabel("lblreturntab", "ProductViewSettings.lblreturntab")@TabSelectListOnTabId(info, "genxml/dropdownlist/ddllisttabid", "", true) @info.GetXmlProperty("genxml/dropdownlist/ddllisttabid")
        </div>
        <div class="dnnFormItem">
            @DnnLabel("lbldefaultlistmodule", "ProductViewSettings.lbldefaultlistmodule")@CheckBox(info, "genxml/checkbox/chkdefaultlistmodule", "", " class='dnnCheckbox' ")
        </div>
        <div class="dnnFormItem">
            @DnnLabel("lblreturnlimit", "ProductViewSettings.lblreturnlimit")@TextBox(info, "genxml/textbox/returnlimit", "width='75'", "0")
        </div>
    </fieldset>


</div>


<script>
    $(document).ready(function() {

        @if (info.GetXmlProperty("genxml/dropdownlist/themefolder") != "")
        {
            @:nbxget('getsettings', '#themedata', '#settingsdata');
        }

        $('a[id*="_cmdUpdate"]').click(function () {
            nbxget('savesettings', '#nbrightbuysettings');
        });
        $('#themefolder').change(function() {
            nbxget('getsettings', '#themedata', '#settingsdata');
        });
    });

</script>


