@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightRazor>
@using DotNetNuke.Common
@using DotNetNuke.Entities.Portals
@using DotNetNuke.Entities.Users
@using NBrightCore.common
@using NBrightDNN
@using Nevoweb.DNN.NBrightBuy.Components


<!-- We need a spinner for most modules, and each must be independant to the others.  So they are hidden correctly after the module operation-->

<div id="loader" class="processing processingminicart" style="display: none;">
    <div class="spinner"></div>
</div>

<div id="loader" class="processing processingfilter" style="display: none;">
    <div class="spinner"></div>
</div>

<div id="loader" class="processing processingproduct">
    <div class="spinner"></div>
</div>

<div id="loader" class="processing processingproductajax" style="display: none;">
    <div class="spinner"></div>
</div>

<div id="loader" class="processing processinglist" style="display: none;">
    <div class="spinner"></div>
</div>

<div id="loader" class="processing processingcheckout" style="display: none;">
    <div class="spinner"></div>
</div>

<div id="loader" class="processing processingcart" style="display: none;">
    <div class="spinner"></div>
</div>

<div id="productajaxview" style="display: none;">
    <!-- passparam section-->
    <input id="userid" type="hidden" value="@UserController.Instance.GetCurrentUserInfo().UserID" />
    <input id="moduleid" type="hidden" value="" />
    <input id="tabid" type="hidden" value="@Model.GetUrlParam("tabid")" />
    <input id="editlang" type="hidden" value="@Model.Lang" />
    <input id="uilang" type="hidden" value="@Model.Lang" />
    <input id="catid" type="hidden" value="@Model.GetUrlParam("catid")" />
    <input id="catref" type="hidden" value="@Model.GetUrlParam("catref")" />

    <input id="modkey" type="hidden" value="" />
    <input id="pagemid" type="hidden" value="" />
    <input id="page" type="hidden" value="@Model.GetUrlParam("page")" />
    <input id="pagesize" type="hidden" value="" />
    <input id="orderby" type="hidden" value="" />
    <input id="entitytypecode" type="hidden" value="" /> <!-- use -1 to display ALL typecode -->
    <input id="themefolder" type="hidden" value="" />
    <input id="razortemplate" type="hidden" value="" />

    <input id="propertyfilter" type="hidden" value="" />

    <!-- this one will be set from the filter list set by JS from filter head fields. -->
    <input id="propertyfiltertypeinside" type="hidden" value="" />
    <input id="propertyfiltertypeoutside" type="hidden" value="" />

    <!-- use this to pass itemid that need to be added to favorite/shop list. -->
    <input id="shopitemid" type="hidden" value="@Model.GetUrlParam("shopitemid")" />
    <input id="shoplistname" type="hidden" value="" />
    <input id="shopredirectflag" type="hidden" value="" />

    <!-- checkout cart -->
    <input id="itemcode" value="" type="hidden" />
    <input id="carttemplate" type="hidden" value="" />
    <input id="carttheme" type="hidden" value="ClassicAjax" />
    <input id="defaultaddr" value="" type="hidden" />
    <input id="cartstep" value="@(Model.GetUrlParam("cartstep", "1"))" type="hidden" />
    <input id="gdpr" value="@(Model.GetSetting("gdpr", "True"))" type="hidden" />
    <input id="optionfilelist" type='hidden' />

</div>


<input id="logintab" type="hidden" value="@(StoreSettings.Current.Get("logintab"))" />

<!-- Shopping List Popup -->
<div style="display: none">
    <div id="shoppinglistpopup" class="shoppinglistpopup">
    </div>
</div>

<!-- shipping provider element to trigger reload -->
<div class="reloadshipprovider" style="display:none;"></div>

<!-- return area for ajax data -->
<div id="checkoutpayredirectreturn" style="display: none;"></div>

