@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightRazor>
@using System.Linq
@using System.Web
@using NBrightDNN
@using Nevoweb.DNN.NBrightBuy.Components;

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")

@AddPreProcessMetaData("itemlistname", Model.GetSetting("itemlistname"), Model.FullTemplateName, Model.ModuleId.ToString())

@AddPreProcessMetaData("searchpagesize", Model.GetSetting("pagesize"), Model.FullTemplateName, Model.ModuleId.ToString())

@AddPreProcessMetaData("orderby", "{bycategoryproduct}", Model.FullTemplateName, Model.ModuleId.ToString()) <!-- set default to manual sort on category product -->

@AddPreProcessMetaData("orderby0", "{bycategoryproduct}", Model.FullTemplateName, Model.ModuleId.ToString())
@AddPreProcessMetaData("orderby1", "NB3.FromPrice", Model.FullTemplateName, Model.ModuleId.ToString())
@AddPreProcessMetaData("orderby2", "NB3.FromPrice DESC", Model.FullTemplateName, Model.ModuleId.ToString())
@AddPreProcessMetaData("orderby3", "NB3.ProductRef", Model.FullTemplateName, Model.ModuleId.ToString())
@AddPreProcessMetaData("orderby4", "NB3.ProductName", Model.FullTemplateName, Model.ModuleId.ToString())

@AddPreProcessMetaData("selectpagesize", "True", Model.FullTemplateName, Model.ModuleId.ToString()) <!-- flag to tell product list a custom pagesize may be applied -->




<!-- Product List header -->

    <div class="nbs">

        <!-- Product List header -->
        @if (Model.GetSettingInt("displaytype") == 0)
        {
           <div class="categorybreadcrumbs">@CategoryBreadCrumb(true, Model)</div>
        }

        <!-- Show category details -->
        <div class="categorydetails">

            @if (Model.List.Count() == 1)
            {
                <h3>@Category("categoryname", Model) @(Model.List.Count())  @(ResourceKey("ProductView.article"))</h3>
            }
            else
            {
                <h3>@Category("categoryname", Model) @(Model.List.Count())  @(ResourceKey("ProductView.articles"))</h3> 
            }
            <i>@(Category("message", Model))</i>
        </div>
		
		<div class="productlistheader">
			<!-- Product sort -->
			<div class="productsort">
				<label>@ResourceKey("General.pagesize") :</label>@PageSizeDropDownList("8,16,32,64,128", Model)
				<label>@ResourceKey("General.OrderBy") :</label>@SortOrderDropDownList("ResourceKey:ProductView.orderby", Model)
			</div>
		</div>


        @RenderTemplate("\\DesktopModules\\NBright\\NBrightBuy\\Themes\\ClassicAjax\\Default\\ProductDisplayListBody.cshtml", Model)


    </div>

