@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightRazor>
@using System.Linq
@using System.Web
@using DotNetNuke.Entities.Users
@using NBrightDNN
@using Nevoweb.DNN.NBrightBuy.Components;

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")

@AddPreProcessMetaData("itemlistname", Model.GetSetting("itemlistname"), Model.FullTemplateName, Model.ModuleId.ToString())

@AddPreProcessMetaData("orderby", "{bycategoryproduct}", Model.FullTemplateName, Model.ModuleId.ToString()) <!-- set default to manual sort on category product -->
@AddPreProcessMetaData("orderby0", "{bycategoryproduct}", Model.FullTemplateName, Model.ModuleId.ToString())
@AddPreProcessMetaData("orderby1", "NB3.FromPrice", Model.FullTemplateName, Model.ModuleId.ToString())
@AddPreProcessMetaData("orderby2", "NB3.FromPrice DESC", Model.FullTemplateName, Model.ModuleId.ToString())
@AddPreProcessMetaData("orderby3", "NB3.ProductRef", Model.FullTemplateName, Model.ModuleId.ToString())
@AddPreProcessMetaData("orderby4", "NB3.ProductName", Model.FullTemplateName, Model.ModuleId.ToString())

@*@AddPreProcessMetaData("selectpagesize", "True", Model.FullTemplateName, Model.ModuleId.ToString())*@ <!-- flag to tell product list a custom pagesize may be applied -->

<!-- Product List header -->
<div class="nbs">

    <!-- 0=Normal 1=Search 2=Favorites  -->
    @if (Model.GetSettingInt("displaytype") == 0)
    {
    <div class="categorybreadcrumbs">@CategoryBreadCrumb(true, Model,true,-1,"",-1,400,true)</div>
    }

    <div class="productlistheader">
      <!-- Product sort -->
      <div class="productsort">
        <!--<label>@ResourceKey("General.pagesize") :</label>@PageSizeDropDownList("8,16,32,64,128", Model, "", true, false)-->
          @SortOrderAjaxDropDownList(ResourceKey("ProductView.orderby").ToString(), Model, "class='sortorderselect'")
      </div>
      <!-- Category details -->
      <div class="categorydetails">
        @{
            var totalCount = Model.GetSetting("recordcount") == "" ? Category("entrycount", Model).ToString() : Model.GetSetting("recordcount");
        }
          @if (Model.GetSettingInt("displaytype") == 0)
          {
            <h1>@Category("categoryname", Model)</h1>
          }
          @if (Model.GetSettingInt("displaytype") == 1)
          {
            <h1>@(ResourceKey("ProductView.searchresults"))</h1>
          }

          <div>@totalCount <span>@(ResourceKey("ProductView.articles"))</span></div>
        <!--<i>@(Category("message", Model))</i>-->
      </div>
    </div>

    @RenderTemplate("\\DesktopModules\\NBright\\NBrightBuy\\Themes\\ClassicAjax\\Default\\ProductDisplayListBody.cshtml", Model)

</div>