@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightDNN.NBrightRazor>
@using System.Collections.Generic
@using System.Linq
@using System.Web.Razor.Parser.SyntaxTree
@using System.Xml
@using DotNetNuke.Entities.Portals
@using NBrightCore.common
@using NBrightDNN
@using Nevoweb.DNN.NBrightBuy.Components

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")

@{
    var emaillang = Model.Lang;
}

<html>

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <title>Store Notification</title>
    <style type="text/css">
        #outlook a {
            padding: 0;
        }
        /* Force Outlook to provide a "view in browser" button. */
        .ExternalClass {
            width: 100%;
            display: block !important;
        }
        /* Force Hotmail to display emails at full width */
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
            line-height: 100%;
        }
        /* Forces Hotmail to display normal line spacing */
        body {
            margin: 0;
            padding: 0;
        }

        body {
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust: none;
        }
        /* Prevents Webkit and Windows Mobile platforms from changing default font sizes. */
        body, .Normal, td, th {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: normal;
            font-size: 13px;
            color: #555555;
        }

        h1 {
            color: inherit;
            line-height: 100%;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: bold;
            margin: 0 0 12px 0;
        }

        h2 {
            color: inherit;
            line-height: 100%;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: normal;
            margin: 0 0 12px 0;
        }

        h3 {
            color: inherit;
            line-height: 100%;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            font-weight: bold;
            margin: 0 0 9px 0;
        }

        h4 {
            color: inherit;
            line-height: 100%;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            font-weight: bold;
            margin: 0 0 6px 0;
            padding-bottom: 6px;
            border-bottom: 1px solid #999999;
        }

        p {
            margin: 0 0 9px 0;
            padding-bottom: 1px;
        }

        .orderemail a, .orderemail a:link, .orderemail a:visited {
            color: #0586B1;
            text-decoration: none;
        }

        .orderemail a:active, .orderemail a:hover {
            color: #06B0E8;
            text-decoration: underline;
        }

        .text-right { text-align: right !important; }

    </style>
</head>

<body bottommargin="0" leftmargin="0" rightmargin="0" topmargin="0" style="margin: 0; padding: 0">

<!-- Wrapper -->
<table class="orderemail" width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="margin: 0">
    <tr>
        <td width="100%" valign="top" bgcolor="#efefef">

            <div style="height: 32px">&nbsp;</div><!-- spacer -->


            if (Model.GetSetting("emaillogourl") != "")
            {
            <!-- Logo -->
            <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff">
                <tr>
                    <td style="line-height: 100%">
                        <a href="http://@WebsiteUrl()">
                            <img alt="@Model.GetSetting("storename")" border="0" src="@Model.GetSetting("emaillogourl")" style="display: block; width: 700px; height: auto" title="@Model.GetSetting("storename")" width="700">
                        </a>
                    </td>
                </tr>
            </table>
            }

            <!-- orderemailmessage.html -->
            <table width="700" border="0" cellpadding="12" cellspacing="0" align="center" bgcolor="#ffffff">
                <tr>
                    <td width="67%" align="left" valign="top" style="line-height: 150%">
                        <p>@HtmlOf(ResourceKey("General.AccessToClient", emaillang).ToString())</p>
                    </td>
                </tr>
            </table>



            <!-- Items -->


            <!-- Footer -->
            <table width="100%" border="0" cellpadding="12" cellspacing="0" align="center" bgcolor="#363636">
                <tr>
                    <td style="line-height: 100%">
                        <table width="700" border="0" cellpadding="12" cellspacing="0" align="center">
                            <tr>
                                <td width="50%" align="left" valign="top" style="line-height: 100%; color: #999999">
                                    <div>
                                        <b>@Model.GetSetting("storecompany")</b>
                                    </div>
                                    <div>@Model.GetSetting("storeaddressline1")</div>
                                    <div>@Model.GetSetting("storeaddressline2")</div>
                                    <div>@Model.GetSetting("storecity"), @Model.GetSetting("storeregion") @Model.GetSetting("storepostcode")</div>
                                    <div>@Utils.DecodeInternalField(Model.GetSetting("storecountrytext"))</div>

                                    @if (Model.GetSetting("storetaxnumber") != "")
                                    {
                                        <div>@ResourceKey("General.Taxno", emaillang): @Model.GetSetting("storetaxnumber")</div>
                                    }

                                </td>
                                <td width="50%" align="right" valign="top" style="line-height: 100%; color: #999999">
                                    <div><a href="javascript:void(0)" style="text-decoration: none; color: #848484; font-weight: normal;">@Model.GetSetting("storephone")</a>
                                    </div>
                                    <div><a href="javascript:void(0)" style="text-decoration: none; color: #848484; font-weight: normal;">@Model.GetSetting("supportemail")</a>
                                    </div>
                                    <div><a href="http://@WebsiteUrl()" style="text-decoration: none; color: #848484; font-weight: normal;">@WebsiteUrl()</a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
</body>
</html>
