@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightDNN.NBrightRazor>
@using DotNetNuke.Entities.Users
@using NBrightDNN
@using Nevoweb.DNN.NBrightBuy.Components

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")

@{
    // assign Model, so we can resolve var in VS
    var order = (OrderData)Model.List.First();
    var info = order.PurchaseInfo;
}

@if (Model.GetSettingBool("carttitle"))
{
    <h1>@ResourceKey("CartView.YourBasket")</h1>
}
@if (Model.GetSettingBool("cartsteps"))
{
<div class="checkoutsteps">
    <div class="checkoutstepsheader">@ResourceKey("CartView.CartstepsProcess")</div>
    <ol>
        <li class="step1">@ResourceKey("CartView.CartstepsRecap")</li>
        <li class="step2">@ResourceKey("CartView.CartstepsAddresses")</li>
        <li class="step3">@ResourceKey("CartView.CartstepsShipping")</li>
        <li class="step4">@ResourceKey("CartView.CartstepsPayment")</li>
        <li class="step5 activestep">@ResourceKey("CartView.CartstepsConfirm")</li>
    </ol>
</div>
}

<div class="nbs paymentcomplete">

<div class="formrow">
<h3>@ResourceKey("CartView.PaymentComplete")</h3>
<p>@BreakOf(ResourceKey("Notification.checkoutsuccessmessage"))</p>
</div>

<div class="formrow">
<b>@ResourceKey("OrderAdmin.ordernumber"):</b> @info.GetXmlProperty("genxml/ordernumber")
</div>

    @if (UserController.Instance.GetCurrentUserInfo().UserID > 0)
    {
        <div class="formrow">
            <a class="primarybutton" href="/tabid/@(Model.GetSetting("ordermanagertab"))/eid/@(info.ItemID)">@ResourceKey("CartView.ViewOrder")</a>
        </div>
    }
    else
    {
        <div class="formrow">
            <a class="primarybutton" href="/tabid/@(Model.GetSetting("productlisttab"))">@ResourceKey("CartView.returntostore")</a>
        </div>
    }

</div>