@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightRazor>
@using System.Linq
@using System.Text
@using System.Web
@using System.Web.Razor.Parser
@using System.Web.Razor.Parser.SyntaxTree
@using System.Xml
@using DotNetNuke.Common
@using NBrightDNN
@using Nevoweb.DNN.NBrightBuy.Components;

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")

@{
    // assign Model, so we can resolve var in VS
    var cart = (CartData)Model.List.First();
    var info = cart.PurchaseInfo;
}

        <h1>@ResourceKey("CartView.YourBasket")</h1>
        <div class="checkoutsteps">
            <div class="checkoutstepsheader">@ResourceKey("CartView.CartstepsProcess")</div>
            <ol>
                <li class="step1">@ResourceKey("CartView.CartstepsRecap")</li>
                <li class="step2">@ResourceKey("CartView.CartstepsAddresses")</li>
                <li class="step3">@ResourceKey("CartView.CartstepsShipping")</li>
                <li class="step4 activestep">@ResourceKey("CartView.CartstepsPayment")</li>
                <li class="step5">@ResourceKey("CartView.CartstepsConfirm")</li>
            </ol>
        </div>


    <div id="payment">

        <div class="formrow paymenttotal">
            @ResourceKey("CartView.Totaltopay") : @CurrencyOf(info.GetXmlPropertyDouble("genxml/appliedtotal"))
        </div>

        @PaymentProviderList(info, "")

    </div>

    <div>
        <a href="javascript:history.back()" class="secondarybutton">@ResourceKey("Cartview.Previous")</a>
    </div>

