@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightRazor>
@using System.Linq
@using System.Web
@using NBrightDNN
@using Nevoweb.DNN.NBrightBuy.Components;

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")

@AddPreProcessMetaData("itemlistname", Model.GetSetting("itemlistname"), Model.FullTemplateName, Model.ModuleId.ToString())

@AddPreProcessMetaData("orderby", "{bycategoryproduct}", Model.FullTemplateName, Model.ModuleId.ToString()) <!-- set default to manual sort on category product -->

<div class="nbs">

    <div class="featuredproduct">
    <div class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-slides=".product" data-cycle-timeout="4000" data-cycle-pause-on-hover="true" data-cycle-prev="#prev" data-cycle-next="#next">

        <!-- Product List Body -->

        @{
            var lang = "";
        }

        @foreach (NBrightInfo info in Model.List)
            {
                var product = new ProductData(info.ItemID, info.Lang);
                lang = info.Lang;

            <div class="product">

                <div class="productimg">
                  @if (product.Imgs.Count > 0)
                  {
                      <div class="image">
                          <img title="@(info.GetXmlProperty("genxml/lang/genxml/textbox/txtsummary"))" src="@ProductImageUrl(info, 400, 0)">
                      </div>
                  }
                  else
                  {
                      <div class="noimage">
                          @(Model.GetSettingHtmlOf("noimageicon"))
                      </div>
                  }
                </div>

                <div class="description">

                    <h1><a href="@EntryUrl(info,Model)"><span>@info.GetXmlProperty("genxml/textbox/manufacturer")</span>@ProductName(info)</a></h1>

                    <div class="price">
                        @if (product.Models.Count > 1)
                        {
                            <span class="from">@ResourceKey("ProductView.from")</span>
                        }

                        @if (product.IsOnSale)
                        {
                            <span class="old">@(NBrightBuyUtils.FormatToStoreCurrency(product.FromPrice()))</span>
                            <span class="sale">@(NBrightBuyUtils.FormatToStoreCurrency(product.BestPrice()))</span>
                        }
                        else
                        {
                            @(NBrightBuyUtils.FormatToStoreCurrency(product.BestPrice()))
                        }
                    </div>

                    <div class="buy">
                        <a href="@EntryUrl(info,Model)" class="actionbutton"><i class="fa fa-search"></i>@ResourceKey("ProductView.productdetail")</a>
                    </div>

                    <div class="flags">
                    @if (product.IsOnSale)
                    {
                        <span class="onsaleflag">@ResourceKey("ProductView.promoflag")</span>
                    }
                    @if (!product.IsInStock)
                    {
                        <span class="outofstockflag">@ResourceKey("ProductView.outofstockflag")</span>
                    }
                    </div>

                </div>

                <!-- fields required to send required ajax data to server -->
                <span class="entryid@(info.ItemID)">
                    <input id="@(info.ItemID)_productid" type="hidden" value="@(info.ItemID)">
                </span>

            </div>
        }


        <!-- Product List footer -->

    </div>

    <div class="cycle-nav">
      <span id="prev"><i class="fa fa-angle-left"></i></span>
    </div>
    <div class="cycle-nav cycle-nav-right">
      <span id="next"><i class="fa fa-angle-right"></i></span>
    </div>

    </div>

</div>
