@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightRazor>
@using System.Linq
@using System.Text
@using System.Web
@using System.Web.Razor.Parser
@using System.Web.Razor.Parser.SyntaxTree
@using NBrightDNN
@using Nevoweb.DNN.NBrightBuy.Components;

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/Themes/Bootstrap4/resx")

@{
    // assign Model, so we can resolve var in VS
    var cart = (CartData)Model.List.First();
    var info = cart.PurchaseInfo;
    var itemsInCart = info.GetXmlPropertyDouble("genxml/totalqty");
}

<div class="minicart">
  <div class="minicarticon"><i class="fa fa-shopping-cart"></i></div>
  <div class="h4-headline">@ResourceKey("CartView.YourBasket")</div>
  @if (itemsInCart > 0)
  {
    <a href="/tabid/@Model.GetSetting("carttab")/Default.aspx">@itemsInCart @ResourceKey("CartView.txtitemslower") : @NBrightBuyUtils.FormatToStoreCurrency(info.GetXmlPropertyDouble("genxml/appliedtotal"))</a>
  }
  else
  {
    @ResourceKey("CartView.cartempty")
  }
</div>
