@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightRazor>
@using System.Linq
@using System.Text
@using System.Web
@using System.Web.Razor.Parser
@using System.Web.Razor.Parser.SyntaxTree
@using NBrightDNN
@using Nevoweb.DNN.NBrightBuy.Components;

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/Themes/Bootstrap4/resx")

@{
    // assign Model, so we can resolve var in VS
    var cart = (CartData)Model.List.First();
    var info = cart.PurchaseInfo;
    var itemsInCart = info.GetXmlPropertyDouble("genxml/totalqty");
}

<div class="card minicart">
    <div class="card-body">
        <div class="card-title">
            <div class="minicarticon"><i class="fa fa-shopping-cart mr-1"></i>@ResourceKey("CartView.YourBasket")</div>
        </div>
        @if (itemsInCart > 0)
        {
            <p class="card-text">@itemsInCart @ResourceKey("CartView.txtitemslower") : @NBrightBuyUtils.FormatToStoreCurrency(info.GetXmlPropertyDouble("genxml/appliedtotal"))</p>
            <a href="/tabid/@Model.GetSetting("carttab")/Default.aspx" class="btn btn-primary">@ResourceKey("CartView.PlaceOrder")</a>
        }
        else
        {
            <p class="card-text">@ResourceKey("CartView.cartempty")</p>
        }
    </div>
</div>