@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightRazor>
@using System.Linq
@using System.Web
@using DotNetNuke.Entities.Users
@using NBrightDNN
@using Nevoweb.DNN.NBrightBuy.Components;

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")
@* //note: You must include 1 AddPreProcessMetaData token here(or leave this comment) to ensure ProductDisplayAjaxList template pre processor meta data tokens get parsed *@

<script>
    $(document).ready(function () {
        // set the required ajax parmas for this module
        $('#moduleid').val('@Model.ModuleId');
        $('#pagesize').val('@Model.GetSetting("pagesize", "0")');
        $('#themefolder').val('@Model.GetSetting("themefolder")');
        $('#entitytypecode').val('@Model.GetSetting("entitytypecode")');
        $("#modkey").val("@Model.ModuleRef");
        //loadProductList("@Model.ModuleId");
    });
</script>

<div id="ajaxproducts@(Model.ModuleId)">

    @RenderTemplate("\\DesktopModules\\NBright\\NBrightBuy\\Themes\\Bootstrap4\\Default\\ProductDisplayAjaxList.cshtml", Model)

</div>